<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>972927591405-qf8d8pq59jd1mfq9dkhk3uu58onqr4in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.972927591405-qf8d8pq59jd1mfq9dkhk3uu58onqr4in</string>
	<key>API_KEY</key>
	<string>AIzaSyBdC2k9TwI2vtwhwei0tjnJOS0GK0kTh7M</string>
	<key>GCM_SENDER_ID</key>
	<string>972927591405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rose.eChat</string>
	<key>PROJECT_ID</key>
	<string>echat-dff1b</string>
	<key>STORAGE_BUCKET</key>
	<string>echat-dff1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:972927591405:ios:5af4ca41c42e830f</string>
	<key>DATABASE_URL</key>
	<string>https://echat-dff1b.firebaseio.com</string>
</dict>
</plist>